#calculator{
  border: 1px solid rgb(187,183,183);
  border-radius: 10px;
  width:210px;
  text-align: center;
  background-color: black;
  margin-left: 35%;
  
 
}
#display{
  margin: 10px;
  width:87%;
  height: 50px;
  font-size: 35px;
  background-color: rgb(187,183,183);
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
  
}
.button {
  width: 45px;
  height: 40px;
  border-radius: 7px;
  margin: 5px;
  background-color: orange;
  color: aliceblue;

  
}